# Core
python-dotenv
requests

# RAG / LLM
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma

# Vector DB
chromadb
faiss-cpu

# Embeddings / Transformers
sentence-transformers
transformers
torch

# Data handling
numpy
pandas

# API (si tu utilises FastAPI)
fastapi
uvicorn

# Optional (LLM local / utils)
pydantic
tqdm